/*
  Font:
    font-family: 'Poppins', sans-serif;
 */

 body {
  font-family: 'Poppins', sans-serif;
 }

/* ------- REUSE COMPONENT ------- */
.bg-silver {
  background-color: #c2c2c2a2;
  border-radius: 10px;
}

.s-13 {
  font-size: 13px;
}

.s-15 {
  font-size: 15px;
}

/* ------- SIDE BAR ------- */
.sidebar-container {
  z-index: 100;
  background-color: white;
  padding: 12px;
  position: fixed;
  -webkit-box-shadow: 0.5px 0px 6px rgb(194, 194, 194);
          box-shadow: 0.5px 0px 6px rgb(194, 194, 194);
}

.sidebar-icon-container i {
  font-size: 26px;
  color: #0a6d33;
  cursor: pointer;
}

.sidebar-bars {
  display: inline;
  position: absolute;
  top: 25px;
  right: 30px;
}

.sidebar-bars i {
  color: #09632f;
  font-size: 22px;
  cursor: pointer;
}

/* ------- OUTSIDE SIDEBAR ------- */
.outside-sidebar {
  min-height: 100vh;
  background-color: #f1f1f1
}

/* ------- DASH BOARD ------- */
.dashboard-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
}

.board-container {
  margin: 10px 10px;
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
          box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
}

/* ----- COMPANY OVERVIEW ----- */
.co-container {
  padding: 10px 10px;
}

.co-table {
  margin-top: 30px;
  padding: 10px 10px;
}

.co-table-header {
  padding: 0 20px;
  color: #065828;
}

.co-table-header h5 {
  font-size: 14px;
}

.co-table-data {  
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  max-height: 400px;
  background-color: #ffffff;
  overflow-y: auto;
}

.co-table-row {
  border-bottom: 1px solid rgb(237, 238, 238);
  min-height: 60px;
}

.co-table-row p {
  font-size: 14px;
}

.co-table-row .text-muted {
  font-size: 11px;
}

.co-table-row .row .data-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.co-pagination-container {
  border-top: 0.5px solid rgb(237, 238, 238);
  padding-top: 20px;
  margin-left: 18px;
}

.co-pagination-container li button {
  color: #065828;
  outline: none !important;
  box-shadow: none !important;
  min-width: 36px;
}

.co-pagination-container li button:hover {
  background-color: rgb(50, 102, 50);
  color: white;
}

.co-activePage {
  background-color: rgb(50, 102, 50);
  color: white !important;
}

.line-container {
  position: relative;
  max-height: 276px;
}

.line-extraInfo {
  position: absolute;
  top: 25%;
  left: 5%;
}