
/* ------- SIDE BAR ------- */
.sidebar-container {
  background-color: white;
  padding: 12px;
  position: fixed;
  box-shadow: 0.5px 0px 2px rgb(194, 194, 194);
}

.sidebar-icon-container i {
  font-size: 24px;
  color: #09632f;
}

.sidebar-bars {
  display: inline;
  position: absolute;
  top: 25px;
  right: 50px;
}

.sidebar-bars i {
  color: #09632f;
  font-size: 22px;
  cursor: pointer;
}
