/* ------- REUSE COMPONENT ------- */
.bg-silver {
  background-color: #c2c2c2a2;
  border-radius: 10px;
}


/* ------- SIDE BAR ------- */
.sidebar-container {
  z-index: 100;
  background-color: white;
  padding: 12px;
  position: fixed;
  box-shadow: 0.5px 0px 2px rgb(194, 194, 194);
}

.sidebar-icon-container i {
  font-size: 36px;
  color: #0a6d33;
  cursor: pointer;
}

.sidebar-bars {
  display: inline;
  position: absolute;
  top: 25px;
  right: 50px;
}

.sidebar-bars i {
  color: #09632f;
  font-size: 22px;
  cursor: pointer;
}
