/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) {
  /* ------- SIDE BAR ------- */
  .sidebar-container {
    width: 100vw;
    height: 70px;
  }

  .sidebar-container img {
    width: auto;
    height: 50px;
    margin-left: 0px;
  }

  .outside-sidebar {
    overflow-x: hidden;
    position: relative;
    top: 70px;
    width: 100vw;
  }

  .sidebar-smallSub-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* background-color: white; */
    background-image: linear-gradient(to left, rgb(255, 255, 255),  rgb(255, 255, 255),  rgba(0, 0, 0, 0.411));
    /* border-left: 1px solid rgb(207, 207, 207); */
    box-shadow: 1px 0px 1px 2px rgb(207, 207, 207);
  }

  .sidebar-smallSub-content {
    margin-top: 30px;
    position: absolute;
    width: 48%;
    left: 52%;
    top: 40px;
    padding-left: 14px;
    color: rgb(50, 102, 50);
    font-size: 20px;
  }

  .sidebar-smallSub-content i {
    position: relative;
    margin-top: 6px;
    right: 10%;
    color: black;
    font-size: 16px;
    /* z-index: 1002;*/
    transition: 0.2s all;
    cursor: pointer;
    transform-origin: 50% 20%;
  }

  .sidebar-smallSub-listItem {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 8px;
  }

  /* ------- DASH BOARD ------- */
  .dashboard-container {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding-right: 20px;
  }

  .co-container {
    padding: 10px 3px;
  }

  .co-table {
    margin-top: 15px;
    padding: 5px 4px;
  }
  
  .page-link {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  /* .sidebar-container {
    width: 100vw;
    height: 70px;
  }

  .outside-sidebar {
    position: relative;
    top: 70px;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ------- SIDE BAR ------- */
  .sidebar-container {
    width: 155px;
    height: 100vh;
  }

  .sidebar-container img {
    margin-left: 0px;
    margin-top: 12px;
    width: 100%;
    height: auto;
    transform: scale(1.15)
  }

  .sidebar-icon-container {
    height: calc(100vh - 220px);
  }

  .outside-sidebar {
    position: relative;
    width: calc(100vw - 155px);
    top: 0px;
    left: 155px;
  }

  .sidebar-sub-container {
    position: absolute;
    top: 0px;
    left: 155px;
    width: calc(100vw - 155px);
    height: 100vh;
  }

  .sidebar-sub-mainnav {
    border-left: 1px solid rgba(172, 165, 165, 0.719);
    /* background-color: white; */
    background-image: linear-gradient(to right, rgb(255, 255, 255),  rgba(255, 255, 255, 0.87),  rgba(0, 0, 0, 0.411));
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1000;
  }

  .sidebar-sub-listItems {
    padding-left: 25px;
    padding-top: 40px;
    font-size: 25px;
    color: rgb(106, 167, 106);
  }

  .sidebar-sub-listItems p {
    cursor: pointer;
    transition: padding-left 0.5s;
  }

  .sidebar-sub-listItems i {
    width: 20px;
    height: auto;
    margin-right: 20px;
  }

  .sidebar-sub-listItems p:hover {
    color: rgb(50, 102, 50);
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
  }

  /* ------- DASH BOARD ------- */
  .dashboard-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }
/* 
  .board-container {
    margin: 10px 10px;
    background-color: white;
    width: 100%;
    height: 95%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
            box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
  } */

  /* ----- COMPANY OVERVIEW ----- */
  /* .co-container {
    padding: 10px 10px;
  }

  .co-table {
    margin-top: 30px;
    padding: 10px 10px;
  }

  .co-table-header {
    padding: 0 20px;
    color: #065828;
  }

  .co-table-header h5 {
    font-size: 14px;
  }

  .co-table-data {  
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    max-height: 400px;
    background-color: #ffffff;
    overflow-y: auto;
  }

  .co-table-row {
    border-bottom: 1px solid rgb(237, 238, 238);
    min-height: 60px;
  }

  .co-table-row p {
    font-size: 14px;
  }

  .co-table-row .text-muted {
    font-size: 11px;
  }

  .co-table-row .row .data-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .co-pagination-container {
    border-top: 0.5px solid rgb(237, 238, 238);
    padding-top: 20px;
    margin-left: 18px;
  }

  .co-pagination-container li button {
    color: #065828;
    outline: none !important;
    box-shadow: none !important;
    min-width: 36px;
  }

  .co-pagination-container li button:hover {
    background-color: rgb(50, 102, 50);
    color: white;
  }

  .co-activePage {
    background-color: rgb(50, 102, 50);
    color: white !important;
  } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}